<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <title>User Registration</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="password" placeholder="ConfirmPassword"/>
            <button>Register</button>
            <p class="message">Already registered? <a href="#">Log in</a></p>
        </form>

    </div>
</div>
</body>
</html>