<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <title>home</title>
</head>
<body>
<div class="welcome-page-container">
    <div>
        <h1 class="welcome-title">Welcome To Our Page</h1>
    </div>
    <div>
       <a th:href="@{/register}"  class="register-title">Register Here!</a>
    </div>

</div>
</body>
</html>